---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import Intro from '~/components/widgets/Intro.astro';
import brandinImage from '~/assets/images/brandin-cartoon.png';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  
  <div class="flex border border-red-500 w-full mx-auto max-w-5xl flex-col md:flex-row items-center gap-4 md:py-20 py-12 text-default">
    <div class="max-w-[500px] flex flex-auto border-green-500 border">
      <Image
        class="rounded-xl bg-gray-500 shadow-lg z-40"
        widths={[400, 768]}
        layout="responsive"
        src={brandinImage}
        alt={'Brandin'}
      />
    </div>
    <div class="flex flex-col items-start border border-yellow-500 gap-4 md:whitespace-nowrap whitespace-normal">
      <div class="flex items-center gap-2 flex-wrap">
        <div class="animation-container">
          <h1 class="animate-drive text-3xl font-bold tracking-tight md:text-2xl text-secondary">Driven</h1>
        </div>
        <h1 class=" text-3xl md:text-2xl font-bold tracking-tight whitespace-nowrap	">Software Engineer</h1>
      </div>
      <div class="flex flex-col font-medium text-lg gap-1">
        <span> Senior full-stack engineer based out of Dayton, Ohio.</span>
      </div>
      <div class="flex gap-1">
        <Button variant="primary">Browse my Work</Button>
        <Button variant="secondary">Contact Me</Button>
      </div>
    </div>
  </div>

</Layout>
