---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/brandin/Hero.astro';
import { personalProjects, professionalProjects } from '~/projects';

import PersonalProject from '~/components/brandin/PersonalProject.astro';
import ProfessionalProject from '~/components/brandin/ProfessionalProject.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <div class="flex flex-col w-full items-center">
    <Hero />
    <!-- Personal Projects -->
    <div
      id="personal-projects"
      class="flex w-full bg-primary flex-col items-center gap-4 md:py-20 py-12 text-default content-center align-middle text-center px-4"
    >
      <div class="flex flex-col justify-center grow text-center lg:max-w-2xl max-w-xl">
        <h2
          class="font-bold font-heading leading-tighter leading-tighter tracking-tighter text-heading mb-4 text-4xl md:text-5xl"
        >
          Personal Projects
        </h2>
        <h3 class="font-medium font-heading leading-tighter leading-tighter tracking-tighter text-heading mb-4 text-md">
          Here are just a few of my personal projects. I spend alot of my free-time coding a number of things, but these
          are some of my favorites.
        </h3>
      </div>
      <div class="grid lg:grid-cols-3 grid-cols-2 gap-4 w-full max-w-7xl">
        {personalProjects.map((project) => <PersonalProject {...project} />)}
      </div>
    </div>

    <!-- Professional Projects -->
    <div
      id="professional-projects"
      class="flex w-full flex-col items-center gap-4 md:py-20 py-12 text-default pb-8 content-center align-middle text-center px-4"
    >
      <div class="flex flex-col justify-center grow text-center lg:max-w-2xl max-w-xl">
        <h2
          class="font-bold font-heading leading-tighter leading-tighter tracking-tighter text-heading mb-4 text-4xl md:text-5xl"
        >
          Professional Projects
        </h2>
        <h3 class="font-medium font-heading leading-tighter leading-tighter tracking-tighter text-heading mb-4 text-md">
          Here are some of my professional projects. Feel free to contact me for additional details.
        </h3>
      </div>

      <!-- Project Grid -->
      <div class="grid lg:grid-cols-3 grid-cols-2 gap-4 w-full max-w-7xl">
        {professionalProjects.map((project) => <ProfessionalProject {...project} />)}
      </div>
    </div>
  </div>
</Layout>
