---
import { SITE } from '~/utils/config';
import { Icon } from 'astro-icon/components';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-3xl md:text-2xl font-bold text-gray-900 whitespace-nowrap dark:text-white flex items-center gap-2"
>
  <Icon name={'tabler:car-suv'} class="w-5 h-5 text-muted" />
  {SITE?.name}
</span>
